
  <footer style="position: fixed; left: 0; bottom: 0; width: 100%; padding: 10px; z-index: 1; background-color: #333; color: #fff;">
    <p style="margin: 0;">&copy; 2023 FoodSpot Website. All rights reserved.</p>
</footer>
