<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodSpot</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

    <!-- Custom Styles -->
    <link rel='stylesheet' href='/Content/index.css' />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/Assets/images/favicon.png">

    <!-- Inline Styles -->
    <style>
        .carousel-image {
            height: 400px;
            object-fit: contain;
        }
        body {
            color: #333; /* Dark Grey Color */
        }
        h1.text-center.mb-5 {
        color: #333; /* Dark Grey Color */
    }
    </style>
</head>

<body>
